{% if devices %}

{% for device in devices %}

<div class="device">

    <div>

        <div class="name">
            {{ device.name or device.model }}
        </div>

        <div class="info">
            {{ device.ip }}
        </div>

    </div>

    {% if device.online %}
        <span class="badge online">Online</span>
    {% else %}
        <span class="badge offline">Offline</span>
    {% endif %}

</div>

{% endfor %}

{% else %}

<div class="empty">

Noch keine Geräte gefunden.

</div>

{% endif %}
